@using SM.Shared
@using System.Globalization
@inject HttpClient Http
@inject NavigationManager Nav
@code {
    [Parameter] public SubstationDto Substation { get; set; } = new SubstationDto();

    public Guid? CustomerId { get; set; }
    [Parameter] public AssetDto Asset { get; set; } = new AssetDto();
    [Parameter] public TransformerDto Equipment { get; set; } = new TransformerDto();
    [Parameter] public EventCallback<(TransformerDto Equipment, AssetDto Asset)> OnValidSubmit { get; set; }

    private void Cancel()
    {
        // Navigate to the equipments list page
        Nav.NavigateTo("/equipments");
    }


    private List<CustomerDto> customers = new();
    private List<SubstationDto> substations = new List<SubstationDto>();
    private List<AssetTypeDto> types = new List<AssetTypeDto>();
    protected override async Task OnInitializedAsync()
    {
        customers = await Http.GetFromJsonAsync<List<CustomerDto>>("http://localhost:5124/customers") ?? [];
        substations = await Http.GetFromJsonAsync<List<SubstationDto>>($"http://localhost:5124/substations") ?? new
        List<SubstationDto>();
        types = await Http.GetFromJsonAsync<List<AssetTypeDto>>("http://localhost:5124/assettypes") ?? [];
    }

    [Inject] IJSRuntime JS { get; set; } = default!;
    private async Task ShowAlert()
    {
        await JS.InvokeVoidAsync("alert", "Hi");
    }

    private void OnCustomerChanged(ChangeEventArgs e)
    {
        JS.InvokeVoidAsync("alert", "Hi");
    }



}


<EditForm Model="Equipment" OnValidSubmit="() => OnValidSubmit.InvokeAsync((Equipment, Asset))" class="edit-form">
    <h2 class="form-title">Equipments</h2>

    <DataAnnotationsValidator />
    <ValidationSummary class="validation-summary" />
    <!-- Customer dropdown -->
    <div class="form-field">
        <label class="form-label" for="customer">Customer</label>


        <InputSelect id="customer" TValue="Guid ?" @bind-Value="CustomerId" class="form-control"
            @onchange="OnCustomerChanged">

            <option value="">-- Select Customer --</option>
            @if (customers is not null)
            {
                @foreach (var c in customers)
                {
                    <option value="@c.Id">@c.Code - @c.Name</option>
                }
            }
        </InputSelect>
    </div>
    <div class="form-field">
        <label class="form-label" for="substation">Substation</label>
        <InputSelect id="substation" @bind-Value="Equipment.Asset.SubstationId" class="form-control"
            disabled="@(CustomerId is null)">
            <option value="">-- Select Substation --</option>
            @if (substations is not null)
            {
                @foreach (SubstationDto c in substations)
                {
                    <option value="@c.Id">@c.Code - @c.Name</option>
                }
            }
        </InputSelect>
    </div>
    <div class="form-field">
        <label class="form-label" for="assettype">Equipment Type</label>
        <InputSelect id="assettype" @bind-Value="Equipment.Asset.AssetTypeId" class="form-control">
            <option value="">-- Select Equipment Type --</option>
            @if (substations is not null)
            {
                @foreach (AssetTypeDto type in types)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            }
        </InputSelect>
    </div>

    @* Conditionally show transformer-specific fields *@
    @if (true)
    {
        <div class="form-field">
            <label class="form-label" for="name">Name</label>
            <InputText id="name" @bind-Value="Equipment.Name" class="form-control" placeholder="Transformer 1" />
            <ValidationMessage For="@(() => Equipment.Name)" class="validation-message" />
        </div>
        <div class="form-field">
            <label class="form-label" for="serial">Serial Number</label>
            <InputText id="serial" class="form-control" @bind-Value="Equipment.SerialNumber" />
            <ValidationMessage For="@(() => Equipment.SerialNumber)" />
        </div>

        <div class="form-field">
            <label class="form-label" for="manufacturer">Manufacturer Name</label>
            <InputText id="manufacturer" class="form-control" @bind-Value="Equipment.ManufacturerName" />
            <ValidationMessage For="@(() => Equipment.ManufacturerName)" />
        </div>

        <div class="form-field">
            <label class="form-label" for="yom">Year Of Manufacture</label>
            <InputNumber id="yom" class="form-control" @bind-Value="Equipment.YearOfManufacture" />
            <ValidationMessage For="@(() => Equipment.YearOfManufacture)" />
        </div>
    }

    <div class="flex-row mt-2">
        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn btn-outline" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>